name: test

on:
  push:
    paths:
      - '.github/workflows/build.yml'
      - 'src/*'
      - 'Cargo.toml'
      - 'Cargo.lock'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - name: dependency check
      if: runner.os == 'Linux'
      run: sudo apt install g++ pkg-config libx11-dev libasound2-dev libudev-dev
    - name: rustup install
      run: | 
        rustup toolchain install nightly
        rustup update
        rustup default nightly
    - name: Build
      run: cargo build --release
    - name: Upload build artifacts
      uses: actions/upload-artifact@v3
      with:
        name: build-artifacts
        path: |
          target/release
          !target/release/.fingerprint
          !target/release/deps
          !target/release/build
          !target/release/examples
          !target/release/incremental
          !target/release/.cargo-lock
          !target/release/*.d
